// Specific CSS for your home-page
body {
  background-image: url("https://i.picsum.photos/id/424/2048/1536.jpg?hmac=fGHKd0RIzyexEluCiUoUKbWIdoy3wABPUC6GWlvgyaI");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.js-stop-transition * {
  transition:none !important;
}

.container {

}
