<p><strong><%= link_to treehouse.name, treehouse_path(treehouse) %></strong></p>
<p><%= treehouse.address %></p>
<p>Price per day: <%= treehouse.price_per_day %>€</p>
<p>Cancellation period: <%= treehouse.cancel_days %> days</p>
