<div class="footer" id="footer">
  <div class="footer-copyright">
    ©2021 All rights reserved to the <a href="https://kitt.lewagon.com/products/6303"<i class="fas fa-futbol"></i></a>-Bingo-Gang
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-github"></i></a>
  </div>
</div>
