<div class="container-xl">
  <div class="d-flex align-items-center h-100 w-100 position-fixed background-start" style="top: 0; left: 0">
    <div class="text-center w-100">
      <h1 class="text-white display-1">airtreenb</h1>
      <p class= "text-white">Leave the city and live on a tree</p>
      <%= link_to treehouses_path do %>
        <button type="button" class="btn btn-danger">Treehouses</button>
      <% end %>
    </div>
  </div>
</div>
