<div class="container d-flex align-items-center justify-content-center vh-100">

  <div class="home_container">
    <div class="row justify-content-center" id="header">
      <h1>Air-Tree-n-B</h1>
    </div>
    <div class="row justify-content-center">
      <p>Leave the city and live on a tree</p>
    </div>
    <div class="row justify-content-center">
      <%= link_to treehouses_path do %>
        <button type="button" class="btn btn-danger">Treehouses</button>
      <% end %>
    </div>
  </div>

</div>


