.card-treehouse{
  @extend .card;
  margin: 16px 0;
  border-radius: 5px;
  border: none;
  img {
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(255,255,255,0.5);
  }
  .card-treehouse-overlay:hover {
    background-color: rgba(255,255,255,0.75);
    h4 {
      color: rgba(0,0,0,1);
      transition: all 0.5s ease;
    }
  }
}

.card-treehouse-overlay {
  @extend .card-img-overlay;
  // display: flex;
  color: white;
  // align-items: flex-center;
  // text-align: center;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease;
  h4 {
    margin: 0;
    font-size: clamp(8px, 5vw, 24px);
    pointer-events: none;
    transition: all 0.5s ease;
  }
}

.info-field {
  margin: 3px 3px;
  padding: 7px 10px;
  border-radius: 5px ;
  background-color: #6A6C54;
  box-shadow: 0 0 15px rgba(255,255,255,0.5);
  border: black;
  border-width: thick;
  color: #D4D4D2;
}
.info-field:hover {
  background-color: #3E383A;
  transition: 0.5s;
}

.show-card {
  overflow: hidden;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(255,255,255,0.5);
}

.show-card-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.show-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.show-card p {
  font-size: 20px;
  opacity: .7;
  margin: 0;
}


.show-card .show-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;

}


.show-card-infos .show-card-user {
  position: absolute;
  right: 16px;
  top: -42px;
  // width: 40px;
}


